@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --main:#c5182c;
    --secondary:white;
    --complementary:rgb(226, 128, 128);
    --notes:#777;
}

h1, h2, h3{
    font-family: "Libre Baskerville", serif;
}

p, a, span{
    font-family: "Nunito", sans-serif;
}

body{
    overflow-x: hidden;
}

/* CELULAR */


header{
    background-color: var(--secondary);
    padding: 1em;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner{
    background-image:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/portada.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#intro{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    color: var(--secondary);
}

#intro h1{
    text-shadow: 0 2px 10px rgba(0,0,0,2);
}

#intro p{
    display: none;
}

#logo{
    width: 70px;
    display: block;
}

#menu-toggle{
    display: block;
    width: 30px;
}

#menu-toggle img{
    width: 100%;
}

nav{
    display: none;
}

#opinion{
    padding: 2em 1em;
    display: flex;
    justify-content: center;
}

#container-form{
    background-color: var(--main);
    padding: 2em 1.5em;
    border-radius: 25px;
    width: 100%;
    max-width: 340px;
    text-align: center;
}

#container-form h2{
    color: var(--secondary);
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 0.3em;
}

#container-form p{
    color: var(--secondary);
    margin-bottom: 1.5em;
    line-height: 1.3;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.input, select{
    width: 100%;
    padding: 0.7em;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary);
    font-size: 0.9rem;
}

.input::placeholder,select{
    color: var(--notes);
    font-family: "Nunito", sans-serif;
}

.boton{
    background-color: var(--main);
    color: var(--secondary);
    border: solid 1px var(--secondary);
    border-radius: 50px;
    padding: 0.8em;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    margin-top: 0.5em;
}

#grid{
    display: grid;
    grid-template-columns: 1fr;
}

#grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#grid article{
    position: relative;
    overflow: hidden;
    height: 500px;
}

#grid article:nth-of-type(1){
    background-color: var(--complementary);
    text-align: center;
}

#grid article:nth-of-type(1) h3{
    color: var(--secondary);
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 1em;
}

#grid article:nth-of-type(1) p{
    color: var(--secondary);
}

#grid article:nth-of-type(3){
    background-color: var(--main);
    text-align: center;
}

#grid article:nth-of-type(3) h3{
    color: var(--secondary);
    font-size: 3em;
    margin: 1.1em;
}

#grid article:nth-of-type(3) a{
    color: var(--secondary);
    border: solid 1px var(--secondary);
    border-radius: 50px;
    padding: 1em 2em 1em 2em;
    font-weight: bold;
}

#grid article:nth-of-type(4){
    background-color: var(--complementary);
    text-align: center;
}

#grid article:nth-of-type(4) h3{
    color: var(--secondary);
    font-size: 3em;
    margin: 1em;
    margin-top: 2em;
}

#grid article:nth-of-type(4) p{
    color: var(--secondary);
}

#grid article:nth-of-type(5){
    display: none;
}

#objetivos h2{
    text-align: center;
    color: var(--main);
    margin: 1em;
    font-size: 2em;
}

#objetivos article{
    padding: 0.7em;
    border: solid 5px var(--main);
    border-radius: 10px;
    margin-bottom: 1em;
    text-align: center;
    overflow: hidden;
}

#objetivos article img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: 0.8em;
}

#objetivos article span{
    text-transform: uppercase;
    display: none;
}

#objetivos a{
    display: inline-block;
    color: var(--main);
    border: solid 1px var(--main);
    border-radius: 50px;
    padding: 1em 2em 1em 2em;
    margin: 2em;
    font-weight: bold;
    font-size: 0.7em;
    text-transform: uppercase;
}

#objetivos article#docentes img, #objetivos article#educacion img{
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main);
    padding: 1.5em;
    margin-top: 5em;
}

#redes{
    display: flex;
    gap: 1em;
    justify-content: center;
}

footer img{
    width: 20px;
}

#logo-footer{
    display: none;
}

#creditos{
    display: none;
}

/* TABLET */

@media all and (min-width:768px){
    
    #menu-toggle{
        display: none;
    }

    nav{
        position: static;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1em;
    }

    nav a{
        display: block;
        color: var(--main);
        border: solid 1px var(--main);
        border-radius: 50px;
        padding: 1em 2em 1em 2em;
        margin: 0.3em;
        font-weight: bold;
        font-size: 0.7em;
        text-transform: uppercase;
    }

    #intro{
        align-items: flex-start;
        text-align: left;
        padding: 35em 4em 4em 4em;
    }

    #container-form{
        max-width: 800px;
        width: 100%;
    }

    .formulario{
        flex-direction: row;
        align-items: center;
        gap: 1em;
        flex-wrap: wrap;
    }

    .formulario div{
        flex: 1;
    }

    .boton{
        margin-top: 0;
        padding: 0.9em 2.5em;
    }

    #grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #grid article{
        height: auto;
        min-height: 300px;
    }

    #grid article:nth-of-type(1){
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #grid article:nth-of-type(1) h3, #grid article:nth-of-type(4) h3{
        font-size: 3.5em;
        margin: 0;
    }
    
    #grid article:nth-of-type(2){
        grid-column: 1;
        grid-row: 2;
    }

    #grid article:nth-of-type(3){
        grid-column: 2;
        grid-row: 1 / span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }
    

    #grid article:nth-of-type(4){
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 3em;
        height: 300px;
    }

    #grid article:nth-of-type(5){
        display: block;
        background-color: var(--secondary);
        color: var(--main);
        border: solid 5px;
        text-align: center;
    }

    #grid article:nth-of-type(5) h3{
        color: var(--main);
        font-size: 3em;
        margin-top: 2em;
    }

    #grid article:nth-of-type(5) p{
        font-size: 1em;
        margin: 3em;
    }

    #grid article:nth-of-type(6) img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #grid-objetivos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 2em;
    }

    #objetivos h2{
        font-size: 3.5em;
        margin-bottom: 0.5em;
        text-align: left;
    }

    #grid-objetivos article{
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left; 
        padding: 1.2em;
    }

    #grid-objetivos article:nth-of-type(1){
        grid-column: 1;
        grid-row: 2;
    }

    #grid-objetivos article:nth-of-type(2){
        grid-column: 2;
        grid-row: 2;
    }

    #grid-objetivos article:nth-of-type(3){
        grid-column: 1;
        grid-row: 3 / span 2;
    }

    #docentes{
        grid-column: 2;
        grid-row: 3;
    }

    #educacion{
        grid-column: 2;
        grid-row: 4;
    }

    #grid-objetivos article h3{
        font-size: 1.8rem;
        margin: 0.5em 0;
    }

    #grid-objetivos article p{
        margin-bottom: 1em;
        font-size: 0.95rem;
    }

    #grid-objetivos article a{
        align-self: flex-start;
        margin: 0.5em 0 0 0;
        padding: 0.6em 1.5em;
    }

    footer{
        background-color: var(--main);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5em;
        margin-top: 5em;
    }

    #redes{
        display: flex;
        gap: 1em;
    }

    footer img{
        width: 20px;
    }

    #logo-footer{
        display: block;
        width: 80px;
    }

    #creditos{
        display: block;
        color: var(--secondary);
    }

}

/* DESKTOP */

@media all and (min-width:1200px){

    nav a:hover{
        background-color: var(--main);
        color: var(--secondary);
        transition: 0.3s;
    }

    #banner{
        position: relative;
    }

    #opinion{
        padding: 5em;
    }

    #intro{
        margin-left: 10em;
        max-width: 55%;
        min-height: 80vh;
        padding: 0;
    }

    #intro h1{
        font-size: 3em;
    }

    #intro p{
        display: block;
        margin-top: 2em;
        font-size: 1.5em;
    }

    #container-form{
        position: absolute; 
        bottom: -50px;      
        right: 10%;         
        z-index: 10;      
        max-width: 500px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        gap: 0.8em; 
    }

    .input, select{
        width: 400px;
    }

    .boton:hover{
        background-color: var(--complementary);
        color: var(--secondary);
        border: solid 1px var(--secondary);
        transition: 0.3s;
    }

    #grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #grid-objetivos article{
        position: relative;
    }

    #grid article:nth-of-type(2):hover img, #grid article:nth-of-type(6):hover img, #objetivos article:hover img{
        filter: grayscale(1);
        transition: 0.3s;
    }

    #grid article:nth-of-type(1) h3{
        font-size: 3em;
    }

    #grid article:nth-of-type(5) h3{
        font-size: 2.5em;
        margin-top: 4em;
    }

    #grid article:nth-of-type(5) p{
        font-size: 1em;
        margin-top: 7em;
    }

    #grid article a:hover{
        background-color: var(--complementary);
        color: var(--secondary);
        border: solid 1px var(--secondary);
        transition: 0.3s;
    }

    #grid-objetivos{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;
    }

    #grid-objetivos article{
        position: relative;
        width: 32%;
    }

    #grid-objetivos article#docentes img, #grid-objetivos article#educacion img{
        display: block;
    }

    #grid-objetivos article .tag{
        display: block;
        position: absolute;
        background-color: var(--main);
        color: var(--secondary);
        right: 0px;
        top: 30px;
        padding: 0.4em 3em 0.4em 1em;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 10;
    }

    #grid-objetivos article a{
        font-size: 1em;
    }

    #grid-objetivos article a:hover{
        background-color: var(--main);
        color: var(--secondary);
        border: solid 1px var(--secondary);
        transition: 0.3s;
    }
}